@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,500&display=swap');

body {
    background-color: #222;
    color: #fff;
    font-family: Roboto, sans-serif;
}
.scrollContainer,
.scrollArea {
  height: 100vh;
  margin: 0 auto;
}

.scrollContainer {
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.scrollArea {
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: #222 10px solid;
  color: #222;
}
.scrollArea:nth-of-type(1) {
  background: #5cabf5;
}

.scrollArea:nth-of-type(2) {
  background: #ffc15e;
}

.scrollArea:nth-of-type(3) {
  background: #59ec85;
}
#heroHeader {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
  
#logo { 
    margin: 15% 0 0 5%;
    width: 40%;
    transform: translateX(-400%);
    grid-area: 1 / 1 / 2 / 2;
}

#HeroTitles { 
    grid-area: 2 / 1 / 3 / 2; 
}
#heroTitle {
    margin: 10% 0 0 15%;
    font-size: 200%;
    font-weight: 500;
    font-style: italic;
    transform: translateX(-400%);
}
#heroSubTitle {
    font-size: 150%;
    margin-left: 15%;
    transform: translateX(-400%);
}
#SVG { 
    margin: 20% 0 0 10%;
    grid-area: 1 / 2 / 3 / 3;
    transform: translateX(400%);
    background: transparent;
    height: 100vh;
    width: 50vw;
}
.SVG {
    width: 80%;
}
.animX {
    animation: animX 0.7s ease forwards;
}
@keyframes animX {
    100% {
        transform: translateX(0%)
    }
}
.animY {
    animation: animY 0.7s ease forwards;
}
@keyframes animY {
    100% {
        transform: translateY(0%)
    }
}

#mainTitle {
    font-size: 250%;
    text-align: center;
    transform: translateY(-400%);
}
  